<% include ./partials/header %>

		<style>
		.ui.message.partner {
			background: #808080;
			color: white;
			padding: 5px 10px;
			margin: 0;
			word-wrap: break-word;
		}
		
		.ui.message.self {
			background: #DCDCDC;
			color: black;
			padding: 5px 10px;
			margin: 0;
			word-wrap: break-word;
		}
		
		
		.ui.middle.aligned.divided.list {
			max-height: 400px;
			overflow-y: auto;
			scroll-behavior: smooth;
		}
		
		.invisible {
			display: none;
		}
		</style>
		<script src="https://code.jquery.com/jquery-3.3.1.min.js"
			integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
			crossorigin="anonymous"></script>
		<script type="text/javascript">
			var username = "<%=username%>";
			var talkingTo = "<%=otherUsername%>";

			var socket = io({ query: "username=" + username});


			var myMessagesTop = '<div class="ui visible message self"> <div class="content">'

			var partnerMessagesTop = '<div class="ui visible message partner"> <div class="content">'



			$(document).ready(function(){
				socket.emit("startDialog", talkingTo)

				$('#textBox').keyup(function(e){
					if(e.keyCode == 13)
					{
						$(this).trigger("enterKey");
					}
				});

				function scrollToBottom() {
					$("#messages").scrollTop($("#messages")[0].scrollHeight);
				}

				$('#textBox').bind("enterKey",function(e){
					var text = $("#textBox").val();
					$("#textBox").val("");
					$("#messages").append(myMessagesTop + text + '</div> </div>');
					socket.emit("newMessage", text);
					scrollToBottom();
				});

				socket.on("newMessage", function(msg){
					$("#messages").append(partnerMessagesTop + msg + '</div> </div>');
					scrollToBottom();
				});

				socket.on("partnerDisconnect", function(){
					$("#disconnectedForm").removeClass("invisible");
					socket.disconnect();
				});

				socket.on("start", function(flags){
					$("#messageBoard").removeClass("invisible");
					console.log(flags);
					partnerName = flags.partnerName;
					$("#name").text(partnerName);
					$("#waiting").addClass("invisible");
				});

				
			});

		</script>
		<!-- <script type="text/javascript" src="js/main.js"></script> -->
		<!-- <link rel="stylesheet" type="text/css" href="css/main.css"> -->
	</head>
	<body>
		<div class="ui main text container segment">

			<h1 class="ui header">Talk with others!</h1>

			<h3>You are chatting with: <%=otherUsername%></h3>

			<div id="messageBoard" class="">
				<div class="ui middle aligned divided list fluid" id="messages">
					<% for(var i=0; i < conversation.length; i++) { 
						if (conversation[i].author == username) { %>
							<div class="ui message self"> <div class="content"><%=conversation[i].text%></div></div>
						
					 <% } else { %>
						<div class="ui message partner"> <div class="content"><%=conversation[i].text%></div></div>
					 <%}
					} %>
				</div>
				<div class="ui input focus fluid" id="textDiv">
					<input id="textBox" type="text" autocomplete="off" placeholder="Type a message here!">
				</div>
			</div>
		</div>
	</body>
</html>